.alert-div {
  position: fixed;
  z-index: 10;
  margin: auto;
  left: 10%;
  right: 10%;
  top: 12%;
  text-align: center;
  border: solid black 4px;
  font-weight: 600;
  color: whitesmoke;
  border-radius: 10px;
  word-wrap: break-word;
}
