.dropdown-menu {
  height: auto;
  max-height: 500px;
  width: 300px;
  overflow-x: hidden;
  border-style: none solid solid solid;
  border-width: 3px;
  border-color: rgba(53, 48, 48, 0.527);
  margin-top: 10px;
}
