.notification-popup {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 0;
  font-weight: 600;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .notification-popup {
    width: 100%;
    right: 0;
  }
}
